body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.menuContainer{
  float:left;
  width:100px;
  background-color:black;
  opacity: 0.8;
  color:white;
  padding:20px;
  margin-right:10px;
  padding:20px;
  height:100px;
}

.menu{
  margin:0;
  padding:0;
  margin-bottom: 10px;
}

.menu li{
  list-style: none;
}
.menu a{
  text-decoration: none;
  color:rgb(162,244,255);
}


.main{
  background-color:blanchedalmond;
  height:100px;
  overflow: hidden;
  margin-left:10px;
  padding:20px;
  min-height: 100px;
}